 
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation" mode="side">
      <!--this is a place for us to add side-nav code-->
      <app-side-bar></app-side-bar>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-top-bar (sidenavToggle)="sidenav.toggle()"></app-top-bar>
      <!--in here all the content must reside. We will add a navigation header as well-->
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
 

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->