 
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation" mode="side">
      <!--this is a place for us to add side-nav code-->
      <app-side-bar (sidenavClose)="sidenav.close()"></app-side-bar>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-top-bar (sidenavToggle)="sidenav.toggle()"></app-top-bar>
      <!--in here all the content must reside. We will add a navigation header as well-->
      <main>
        <router-outlet></router-outlet>
      </main>
      <footer>
        <mat-toolbar class="toolbarNav">
          <button mat-flat-button routerLink="/top-artists" routerLinkActive="active-link">
            <mat-icon class="material-icons color_blue">
              star_border</mat-icon>
            <span>Top Artists</span>
          </button>
          <button mat-flat-button routerLink="/top-tracks" routerLinkActive="active-link">
            <mat-icon class="material-icons color_blue">favorite_border
            </mat-icon>
            <span>Top Tracks</span>
          </button>
          <button mat-flat-button routerLink="/history" routerLinkActive="active-link">
            <mat-icon class="material-icons color_blue">history</mat-icon>
            <span>History</span>
          </button>
        </mat-toolbar>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
 

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->