<mat-toolbar class="toolbarNav">
  <button mat-flat-button routerLink="/top-artists" routerLinkActive="active-link">
    <mat-icon class="material-icons color_blue">
      emoji_people</mat-icon>
    <span>People</span>
  </button>
  <button mat-flat-button routerLink="/top-tracks" routerLinkActive="active-link">
    <mat-icon class="material-icons color_blue">today
    </mat-icon>
    <span>Dates</span>
  </button>
  <button mat-flat-button routerLink="/history" routerLinkActive="active-link">
    <mat-icon class="material-icons-outlined color_blue">hexagon</mat-icon>
    <span>Badges</span>
  </button>
  <button mat-flat-button routerLink="/history" routerLinkActive="active-link">
    <mat-icon class="material-icons color_blue">work_outline</mat-icon>
    <span>Admin</span>
  </button>
  <button mat-flat-button routerLink="/events" routerLinkActive="active-link">
    <mat-icon class="material-icons color_blue">space_dashboard</mat-icon>
    <span>Wall</span>
  </button>
</mat-toolbar>
