
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="push" opened class="example-sidenav"
                 [fixedInViewport]="true" [fixedTopGap]="0"
                 [fixedBottomGap]="0">
     Sidenav
     <button (click)="sidenav.toggle()">hh</button> 
    </mat-sidenav>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon  (click)="sidenav.toggle()">menu</mat-icon>
    </button>
   <a [routerLink]="['/']">My Application </a>
   <span class="example-spacer"></span>
   <a routerLink="/cart" class="button fancy-button">
    <i class="material-icons">shopping_cart</i>Checkout 
  </a>
  </mat-toolbar>




<!-- 



  Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->